@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #085ec1;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: #ffffff !important;
}

header nav a {
  transition: all 0.15s ease-in-out;
}
header nav a:hover,
.active {
  color: #0d6efd !important;
}
.cursor-pointer {
  cursor: pointer;
}

.transition-all {
  transition-timing-function: ease-in-out !important;
}

.wrapper {
  @apply flex flex-col items-center justify-center w-full;
}

.wrapper-padding {
  @apply px-4 md:px-6 lg:px-8 xl:px-0;
}
